<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">



    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      div.vertical-panel {
        writing-mode: vertical-rl;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>
  <body>

<div class="container">


  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" target='blank' href="https://playful-dry-d40.notion.site/Home-e2214901e7274778b5545eebde54a9d6">🧑‍🏫 Notion Course Website</a>
      <a class="p-2 link-secondary" target='blank' href="https://open.spotify.com/playlist/2u6BFi7YKZ2WCppbHEZnYf?si=b667bcc4a92f451b">🎵 Music</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.wikiwand.com/en/Lu_Xun">📚 Books</a>
      <a class="p-2 link-secondary" target='blank' href="https://translate.google.com/?sl=en&tl=zh-CN&op=translate">🧘 Google Translate</a>
      <a class="p-2 link-secondary" target='blank' href="https://ctext.org/wiki.pl?if=en&chapter=754186">📝 Zen Poems</a>
      <a class="p-2 link-secondary" target='blank' href="https://open.spotify.com/show/04re9FvL1xviHGWvXKoAhZ?si=4ea392b4c24f42f5">🗣 Podcasts</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.youtube.com/watch?v=_IWtVDr6DCk">🀄️ Speeches</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.okcu.edu/academics/global/studyabroad">🌏 Study Abroad</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.fellowships4you.com/">💰 Fellowships</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.middlebury.edu/language-schools/languages/chinese">🥳 Middlebury Language Schools</a>
      <a class="p-2 link-secondary" target='blank' href="https://www.wikiwand.com/en/Chinese_science_fiction">🥽 Science Fiction</a>
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <div class="vertical-panel">
      <h1 class="display-4 fst-italic">好久不見</h1>
      <p class="lead my-3">
      那個冬天我先去了香港而後回到我家俄克拉荷馬。當時以為只會過兩個星期而回北京。其實不然。

在路上我走著，想念在北京的朋友們—北京所能吃的，能學得，能看得，等等。突然看到了一位中國阿姨。‘不可能的‘，我想。她走向我們小區的小山。天氣那個時候不冷不熱，太陽日落。’這位可能是我說中文的答案，經歷北京在這裡的這一個機會‘，“艾！好久不見！”

齁阿姨停著，回頭看我的。我大大地笑而走過去了。“我認識你嗎？“ 齁阿姨問到。

”我們極有可能是上一輩子認識的。“

齁阿姨笑了，告訴我她性齁也不是猴子的猴。她也是剛來的，也因為病情不能回去的。我們都笑了二繼續走。

我們一起走著到他家去。而後認識了她女兒和她女兒的女兒。他們跟我說每天晚上有個中國阿姨協會組合在湖邊。邀請我去。所以我去了。
      </p>
      </div>
    </div>
  </div>

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <div class="vertical-panel">
      <h1 class="display-4 fst-italic">三人行</h1>
      <p class="lead my-3">
   我們快到三年是天天晚上看看報紙喝喝茶打著麻將。有的阿姨們抽菸，所有的經過了文化大革命，改革開放，貿易戰，和觀眾病毒。

老潘和曹阿姨差不多是我的父母了。曹阿姨給我包餃子發起短信，我平常不會打。

現在有一位王老師教了我很多。
      </p>
      </div>
    </div>
  </div>


 <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <div class="vertical-panel">
      <h1 class="display-4 fst-italic">王老師</h1>
      <p class="lead my-3">
   王老師終於告訴了我為什麼他討厭現狀在大陸—就是因為在他小農村文革時有人批鬥而殺他爺爺。爺爺去世之後，他奶奶，父母和他都被批鬥了。
      </p>
      </div>
    </div>
  </div>

   <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <div class="vertical-panel">
      <h1 class="display-4 fst-italic">無有十畝田</h1>
      <p class="lead my-3">
        無有十畝田，中在南山破。<br>
        輕鬆四五術，綠豆兩三顆。<br>
        熱即池中浴，兩邊岸上歌。<br>
        遨遊自取組，誰能奈我何？
      </p>
      </div>
    </div>
  </div>



  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">1. 🧑‍🏫 木老师 Mù lǎoshī，<br> 2. 📚 吳文婷 Wúwéntíng, <br>3. ☘️ 张汉三 Zhānghànsān, <br>5. 🥷 张武心 Zhāngwǔxīn,<br> 6. 6️⃣ 林六成 Lín liù chéng,<br> 7. 🍚 王米慧 Wángmǐhuì, <br>8. 🌊 司马黄河 Sīmǎ huánghé, <br>9.💎 刘琳慧 Liúlínhuì, <br>10. 💭 李梦熙 Lǐmèngxī   </h3>
          <div class="mb-1 text-muted">玩名字 </div>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
      </div>
    </div>


        <div class="p-4">
          <h4 class="fst-italic">Resources</h4>
          <ol class="list-unstyled mb-0">
            <li><a target='blank' href="https://playful-dry-d40.notion.site/Home-e2214901e7274778b5545eebde54a9d6"></a>🧑‍🏫 Notion Course Website</li>
            <li><a target='blank' href="https://open.spotify.com/playlist/2u6BFi7YKZ2WCppbHEZnYf?si=b667bcc4a92f451b">🎵 Music</a></li>
            <li><a target='blank' href="https://www.wikiwand.com/en/Lu_Xun">📚 Books</a></li>
            <li><a target='blank' href="https://translate.google.com/?sl=en&tl=zh-CN&op=translate">🧘 Google Translate</a></li>
            <li><a target='blank' href="https://ctext.org/wiki.pl?if=en&chapter=754186">📝 Zen Poems</a></li>
            <li><a target='blank' href="https://open.spotify.com/show/04re9FvL1xviHGWvXKoAhZ?si=4ea392b4c24f42f5">🗣 Podcasts</a></li>
            <li><a target='blank' href="https://www.youtube.com/watch?v=_IWtVDr6DCk">🀄️ Speeches</a></li>
            <li><a target='blank' href="https://www.okcu.edu/academics/global/studyabroad">🌏 Study Abroad</a></li>
            <li><a target='blank' href="https://www.fellowships4you.com/">💰 Fellowships</a></li>
            <li><a target='blank' href="https://www.middlebury.edu/language-schools/languages/chinesehttps://www.middlebury.edu/language-schools/languages/chinese">🥳 Middlebury Language Schools</a></li>
            <li><a target='blank' href="https://www.wikiwand.com/en/Chinese_science_fictionhttps://www.wikiwand.com/en/Chinese_science_fiction">🥽 Science Fiction</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Other Places</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/carsonmulligan/zhongwen">👨‍💻 GitHub</a></li>
            <li><a href="https://playful-dry-d40.notion.site/Home-e2214901e7274778b5545eebde54a9d6">🧑‍🏫 Notion Website</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>



  </body>
</html>
